/* theme.css */
:root {
    --bg-body: #f1f5f9;
    --text-main: #1e293b;
    --bg-navbar: #1e293b;
    --text-navbar: white;
    --bg-card: white;
    --text-subtitle: #64748b;
    --border-color: #e2e8f0;
    --hover-bg: #334155;
    --card-hover-bg: #f8fafc;
    --brand-logo-bg: white;
    --brand-logo-text: #1e293b;
}

body.dark-mode {
    --bg-body: #0f172a;
    --text-main: #f8fafc;
    --bg-navbar: #020617;
    --bg-card: #1e293b;
    --text-subtitle: #94a3b8;
    --border-color: #334155;
    --hover-bg: #475569;
    --card-hover-bg: #0f172a;
    --brand-logo-bg: #334155;
    --brand-logo-text: white;
}

body { 
    background-color: var(--bg-body); 
    color: var(--text-main); 
    transition: background-color 0.3s, color 0.3s; 
}

/* Style lang para sa button */
.theme-toggle-btn {
    background: transparent;
    border: 1px solid #cbd5e1;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggle-btn:hover { background: var(--hover-bg); }